# **PLOTTING THE SHAPE OF A SUBDUCTING SLAB**

---

This code shows you how to read a csv file and plot the data. You need to do some modifications of the plot so that the trenches of your subducting boundaries start at zero. 

(Remember to load your cvs file into colabs)

Save our plot as a pdf and so that you can add it to your lab report.

### Reading your data

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

# The line below assumes you have the file "marianas.csv" uploaded. If you do not, you can upload your csv file in the left panel with the up-arrow.
# When you restart this notebook in the future, you will need to upload your csv file again. Colab does not remember your csv file!
file = pd.read_csv('marianas.csv')

file # this will display your data in 'file'

            x           y
0  547.527554   12.991725
1  510.930850  115.989185
2  455.887381  170.765107
3  421.962097  278.771989
4  397.465352  355.271012
5  369.629333  460.398647
6  336.913172  522.735519
7  316.724746  604.407823
8  288.076825  811.315675
9  260.149140  871.545781

In the code above, the variable *file* has all your data in it. The data come in rows and columns. Each 'column' has a name, in this case 'x' and 'y'.

Remember that the names of the columns are metadata of *file*. So to work with the first column you type:

file['x']

try it in the empty code cell below:

As discussed in class, you need to redo your x-axis so that you can compare different subduction zone cross-sections.
Plot these and save your figure. Look up how the savefig() method works in matplotlib.